In [1]:
import pandas as pd

In [2]:
schools_file = "Resources/schools_complete.csv"
schools_df = pd.read_csv(schools_file)

students_file ="Resources/students_complete.csv"
students_df = pd.read_csv(students_file)

In [3]:
merge_df = pd.merge(students_df, schools_df, how="left", on=["school_name","school_name"])
merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
merge_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [5]:
merge_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [64]:
#Calculate the total number of schools
num_schools = merge_df["school_name"].nunique()
#Calculate the total number of students with ","
num_students = merge_df["Student ID"].nunique()
#Calculate the total budget in dollars
dist_budget = schools_df["budget"].sum()
#Calculate the average math score 
avg_score_math = merge_df["math_score"].mean()
#Calculate the average reading score
avg_score_read = merge_df["reading_score"].mean()
#Calculate the percentage of students with a passing math score (70 or greater)
tot_pass_math = merge_df["math_score"][merge_df.loc[:,"math_score"] >= 70].count()
pass_math = (tot_pass_math)/(merge_df["math_score"].count())*100
#Calculate the percentage of students with a passing reading score (70 or greater)
tot_pass_read = merge_df["reading_score"][merge_df.loc[:,"reading_score"] >= 70].count()
pass_read = (tot_pass_read)/(merge_df["reading_score"].count())*100
#Calculate the percentage of students who passed math **and** reading (% Overall Passing)
# pass_both = merge_df["math_score","reading_score"][merge_df.loc[:,"math_score","reading_score" >= 70].count()
# pass_both

SyntaxError: invalid syntax (2787389635.py, line 19)

In [7]:
#  % overall passing (the percentage of students who passed math AND reading

In [8]:
#Create chart with info
dist_dict = {"Total Schools": [num_schools],
             "Total Students":[num_students],"Total Budget":[dist_budget],
            "Average Math Score":[avg_score_math],
             "Average Reading Score":[avg_score_read],"% Passing Math":[pass_math],
             "% Passing Reading":[pass_read]}
dist_df=pd.DataFrame(data=dist_dict)
dist_df
#Total Budget is wrong number...and should display in dollars.
#Total Students should also display with "," 
#still need % passing both math and reading

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463

In [56]:
#Create an overview table that summarizes key metrics about each school, including:
# School Name
schools_sort_df = schools_df.sort_values("school_name", ascending = True)
sch_group = merge_df.groupby(["school_name"])

# Per Student Budget
stu_budget = sch_df["Total School Budget"]/sch_df["Total Students"]
# Average Math Score
sch_math = sch_group["math_score"].mean()
# Average Reading Score
sch_read = sch_group["reading_score"].mean()
# % Passing Math
#https://www.knytes.com/Cleaning-School-Data-with-Pandas/
sch_stud_total = sch_group["Student ID"].count()
students_sort_df = students_df.sort_values("school_name", ascending = True)
stu_pass_math = merge_df[merge_df["math_score"] >= 70].groupby(["school_name"])
sch_pass_math = [(i/j)*100 for i,j in zip(stu_pass_math.math_score.count(),sch_stud_total)]
# % Passing Reading
stu_pass_read = merge_df[merge_df["reading_score"] >= 70].groupby(["school_name"])
sch_pass_read = [(i/j)*100 for i,j in zip(stu_pass_read.reading_score.count(),sch_stud_total)]
# % Overall Passing (The percentage of students that passed math **and** reading.)

sch_pass_read

[81.93327974276528,
 97.03982777179763,
 80.73923363852154,
 79.29901423877328,
 97.13896457765668,
 80.86299892125135,
 96.25292740046838,
 81.31642098045938,
 81.2224322621298,
 95.94594594594594,
 80.22005501375344,
 95.85462805224304,
 97.30886850152906,
 96.53964082347788,
 96.61111111111111]

In [67]:
sch_dict = {"School Name":schools_sort_df["school_name"],"School Type":schools_sort_df["type"], 
            "Total Students":schools_sort_df["size"],
            "Total School Budget":schools_sort_df["budget"], "Per Student Budget":stu_budget}
sch_df = pd.DataFrame(data=sch_dict)

Index(['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget'],
      dtype='object')

In [72]:
sch_dict_2 = {"Total Students":sch_stud_total,"Average Math Score":sch_math, "Average Reading Score":sch_read, 
              "% Passing Math":sch_pass_math, "% Passing Reading":sch_pass_read}
sch_df_2 =pd.DataFrame(data=sch_dict_2)
#still need % passing both math and reading
sch_df_2

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
school_name,,,,,
Bailey High School,4976,77.048432,81.033963,66.680064,81.933280
Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828
Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234
Ford High School,2739,77.102592,80.746258,68.309602,79.299014
Griffin High School,1468,83.351499,83.816757,93.392371,97.138965
Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999
Holden High School,427,83.803279,83.814988,92.505855,96.252927
Huang High School,2917,76.629414,81.182722,65.683922,81.316421
Johnson High School,4761,77.072464,80.966394,66.057551,81.222432
Pena High School,962,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055
Shelton High School,1761,83.359455,83.725724,93.867121,95.854628
Thomas High School,1635,83.418349,83.848930,93.272171,97.308869
Wilson High School,2283,83.274201,83.989488,93.867718,96.539641
Wright High School,1800,83.682222,83.955000,93.333333,96.611111

In [74]:
sch_sum_df = pd.merge(sch_df,sch_df_2, how="left", on=["Total Students","Total Students"])
sch_sum_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111