In [ ]:
### District Summary
# Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:
# * Total schools
# * Total students
# * Total budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading

In [1]:
import pandas as pd

In [2]:
schools_file = "Resources/schools_complete.csv"
schools_df = pd.read_csv(schools_file)

students_file ="Resources/students_complete.csv"
students_df = pd.read_csv(students_file)

In [3]:
merge_df = pd.merge(students_df, schools_df, how="left", on=["school_name","school_name"])
merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
merge_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [6]:
merge_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [ ]:
#  % passing math (the percentage of students who passed math)
pass_math = /(merge_df["math_score"].count())
pass_math

In [ ]:
#  % passing reading (the percentage of students who passed reading)

In [ ]:
#  % overall passing (the percentage of students who passed math AND reading

In [ ]:
#Create chart with info
dist_dict = {"Total Schools": [merge_df["school_name"].nunique()],
             "Total Students":[merge_df["Student ID"].nunique()],"Total Budget":[merge_df["budget"].sum()],
            "Average Math Score":[merge_df["math_score"].mean()],
             "Average Reading Score":[merge_df["reading_score"].mean()]}
dist_df=pd.DataFrame(data=dist_dict)
dist_df